div.profileInputContainer
    | !{email}
    | !{login}
    | !{first_name}
    | !{second_name}
    | !{display_name}
    | !{phone}
    div.profileBtnWrapper
        | !{buttonSave}
        | !{buttonChangePassword}
        a(href="/src/pages/login/index.pug").profileLogoutLink  Выйти