div.registerContainer
    h2.registerTitle Регистрация
    form(action="submit")
        div.registerInputWrapper
            | !{email}
            | !{login}
            | !{first_name}
            | !{second_name}
            | !{phone}
            | !{password}
            | !{repeatPassword}
            div.registerButtonsWrapper
              | !{button}
              a(href="/src/pages/login/index.pug").loginRegisteLink  Есть аккаунт?