div 
    | !{profileSideBar}
    form.profileForm(action="submit")
        div.profileContainer
            div.profileAvatar
                <img src=#{avatarLogo} alt="avatar">
            div.profileName #{userName}
            div.profileInputWrapper
                -const changePassword = true;
                if changePassword
                    | !{passwordInputs}
                else
                    | !{infoInputs}