div 
    | !{profileSideBar}
    form.profileForm(action="submit")
        div.profileContainer
            div.profileAvatar
                <img src="/src/assets/images/avatar-man.svg" alt="avatar">
            div.profileName #{userName}
            div.profileInputWrapper
                -const changePassword = false;
                if changePassword
                    | !{passwordInputs}
                else
                    | !{infoInputs}
            div.profileBtnWrapper
                | !{buttonSave}
                if changePassword
                    | !{buttonBack}
                else
                    | !{buttonChangePassword}
                a(href="/src/pages/login/index.pug").profileLogoutLink  Выйти