div.mainChatFooter
    div.mainChatFooterAttached
        | !{attachmetsButton}
        div.mainChatFooterAttachedDropDownMenu(class=show ? 'show' : 'hide')
            div.mainChatFooterAttachedDropDownMenuItem
                <img src=#{plusLogo} alt="plus">
                <span> Фото или Видео
            div.mainChatFooterAttachedDropDownMenuItem
                <img src=#{fileLogo} alt="file">
                <span> Файл
            div.mainChatFooterAttachedDropDownMenuItem
                <img src=#{locationLogo} alt="location">
                <span> Локация
    div.mainChatFooterInput
        | !{message}
    | !{sendButton}