div.mainChatFooter
    div.mainChatFooterAttached
        <img src=#{clipLogo} alt="clip">
        div.mainChatFooterAttachedDropDownMenu
            div.mainChatFooterAttachedDropDownMenuItem
                <img src=#{plusLogo} alt="plus">
                <span> Фото или Видео
            div.mainChatFooterAttachedDropDownMenuItem
                <img src=#{fileLogo} alt="file">
                <span> Файл
            div.mainChatFooterAttachedDropDownMenuItem
                <img src=#{locationLogo} alt="location">
                <span> Локация
    div.mainChatFooterInput
        | !{message}
    div.mainChatFooterSend
        <img src=#{sendLogo} alt="send">