div.chatCardWrapper(class=classObj.active ? "active" : "")
    | !{avatar}
    div.chatCardMessage
        div.chatCardMessageName #{title}
        div.chatCardMessageText #{lastMsg}
    div.chatCardInfo
        div.chatCardInfoTime #{time}
        if qtyNewMsg
            div.chatCardInfoNewMsg #{qtyNewMsg}
            