div.chatCardWrapper(class=classObj.active ? "active" : "")
    div.chatCardAvatar
        img(src=avatar alt="avatar")
    div.chatCardMessage
        div.chatCardMessageName #{title}
        div.chatCardMessageText #{lastMsg}
    div.chatCardInfo
        div.chatCardInfoTime #{time}
        if qtyNewMsg
            div.chatCardInfoNewMsg #{qtyNewMsg}
            