div.chatCardWrapper
    div.chatCardAvatar
        <img src=#{avatarLogo} alt="avatar">
    div.chatCardMessage
        div.chatCardMessageName #{userName}
        div.chatCardMessageText #{lastMsg}
    div.chatCardInfo
        div.chatCardInfoTime #{time}
        if qtyNewMsg
            div.chatCardInfoNewMsg #{qtyNewMsg}
            