div.mainChatHeader
    div.mainChatHeaderUser
        div.mainChatHeaderUserAvatar
            <img src=#{avatarLogo} alt="avatar">
        div.mainChatHeaderUserName Вадим
    div.mainChatHeaderBtn 
        <img src=#{pointsLogo} alt="points">
        div.mainChatHeaderDropDownMenu
            div.mainChatHeaderDropDownMenuItem
                <img src=#{plusLogo} alt="plus">
                <span> Добавить пользователя
            div.mainChatHeaderDropDownMenuItem
                <img src=#{deleteUserLogo} alt="deleteUser">
                <span> Удалить пользователя
            div.mainChatHeaderDropDownMenuItem
                <img src=#{cleanLogo} alt="clean">
                <span> Очистить чат
