div.mainChatHeader
    div.mainChatHeaderUser
        each user in usersList
            | !{user}
    div.mainChatHeaderBtn 
        | !{dotsMenu}
        div.mainChatHeaderDropDownMenu(class=show ? 'show' : 'hide')
            div.mainChatHeaderDropDownMenuItem
                <img src=#{plusLogo} alt="plus">
                | !{addUserButton}
            div.mainChatHeaderDropDownMenuItem
                <img src=#{deleteUserLogo} alt="deleteUser">
                | !{removeUserButton}
            div.mainChatHeaderDropDownMenuItem
                <img src=#{cleanLogo} alt="clean">
                | !{deleteChatButton}
                | !{modal}
