div 
    | !{profileSideBar}
    form.profileContainer
        | !{avatarLogo}
        //- div.profileAvatar
        //-     <img src=#{avatarLogo} alt="avatar">
        div.profileName #{userName}
        div.profileInputWrapper
            | !{infoInputs}