div.mainChatsListWrapper
  div.mainChatsListHeader
    div.mainChatsListHeaderBtn
      div.mainChatsListHeaderBtnActions
        | !{newChatButton}
        a(href="/profile").mainChatsListLink
          | !{button}
      div.mainChatsListSearch
        | !{search}
  div.mainChatsListItems
    each chatCard in chats
      | !{chatCard}
  | !{modal}