div.messageContainer(style=`align-self: ${me ? 'flex-end' : 'flex-start'}; background-color: ${me ? '#e4edfd' : '#eae8e8'}`)
    div.messageText #{text}
    div.messageBottom
        if me
            <img src=#{checkedBlueLogo} alt='checked'>
        else
            <img src=#{checkedGreyLogo} alt='checked'>
        div.messageBottomTime(style=`color: ${me ? '#3369F3' : '#999999'}`) #{time}